@import variables
@import garland
$width: 60px

.tree-container
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  &>*
    @include dark-block
    border: 0
    overflow-y: scroll
  &>:nth-child(1), &>:nth-child(3)
    padding: .5em
    min-width: calc(( 100% - 500px - 1em) / 2)
    display: flex
    flex-direction: column
    gap: .5em
  &>:nth-child(2)
    min-width: calc( 500px + 1em )
  .tree-title
    margin: 0 .5em
  .tree-settings
    .sound
      width: 2rem
      height: 2rem
      background: center / contain no-repeat url(./assets/svg/audio.svg)
      &.active
        filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)
      &:hover
        filter: invert(19%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)
    .snow
      width: 2rem
      height: 2rem
      background: center / contain no-repeat url(./assets/svg/snow.svg)
      &.active
        filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)
      &:hover
        filter: invert(19%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)
    .button-reset
      @include ring-button
      padding: 0.2em 0.5em
      &:hover
        @include button-hover
    .tree-item, .bg-item
      width: $width
      height: $width
      cursor: pointer
      &:hover
        @include button-hover
      &.active
        outline: 2px solid
        outline-color: rgba(#FDD700, .7)
        background-color: rgba(#FDD700, .1)
    .garland-btns
      margin: .5em 0
      .color-btn
        margin-right: .5em
        border-radius: 50%
        width: 1.5em
        height: 1.5em
        cursor: pointer
        box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#000, 0.1) 0 -1px 9px, #000 0 2px 14px
        &[data-color="multicolor"]
          background: linear-gradient(70deg, #FD0000, #FDD700, #08AA05, #2199EB)
          box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#E3E3E3, 0.1) 0 -1px 9px, #E3E3E3 0 2px 14px
        &[data-color="blue"]
          background: #2199EB
          box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#2199EB, 0.3) 0 -1px 9px, #2199EB 0 2px 14px
        &[data-color="green"]
          background: #08AA05
          box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#08AA05, 0.3) 0 -1px 9px, #08AA05 0 2px 14px
        &[data-color="yellow"]
          background: #FDD700
          box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#FDD700, 0.3) 0 -1px 9px, #FDD700 0 2px 14px
        &[data-color="red"]
          background: #FD0000
          box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset rgba(#FD0000, 0.3) 0 -1px 9px, #FD0000 0 2px 14px
        &:hover
          box-shadow: none
  
  .tree-workspace
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .workspace-snow
      position: absolute
      width: 97%
      height: 100%
      z-index: -1
      padding: 0
      .snowflake 
        position: absolute
        top: -20px
        background: center / cover no-repeat url(./assets/svg/snowflake.svg)
        animation: fall linear forwards
      @keyframes fall
        to 
          transform: translateY(82vh)
          
    .workspace-garland
      position: absolute
      top: 10px
      max-height: 690px
      height: 100%
      width: 100%
      display: flex
      align-items: center
      flex-direction: column
      pointer-events: none
      z-index: 10


  .tree-favorites
    .favorites-container
      .favorites-card
        display: flex
        justify-content: center
        align-items: center
        width: $width
        height: $width
        .favorites-count
          align-self: flex-end
          margin: 0
          margin-left: auto
          padding: 0 0.1em
          width: 1em
          line-height: 1em
          text-align: right
          background-color: rgba($bkg-color , .6)
          border-radius: 0 0 5px 0
          z-index: 10

.favorite-card-img
  position: absolute
  width: calc($width - 1rem)
  object-fit: contain
  cursor: grabbing
  z-index: 100

@for $i from 1 through 6 
  .tree-item:nth-child(#{$i}n) 
    background-image: url('./assets/tree/#{$i}.webp')
    background-size: contain

@for $i from 1 through 10 
  .bg-item:nth-child(#{$i}n) 
    background-image: url('./assets/bg/#{$i}.webp')  
    border: 1px solid $font-color

.menu
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  gap: 0.5em

.item
  background-color: rgba($font-color , .5)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 5px

.onoffswitch
  .input-switch
    display: none
  i
    display: inline-block
    float: right
    padding: 2.5px
    width: 2.8em
    height: 1.4em
    border-radius: 13px
    vertical-align: middle
    transition: .25s
    position: relative
    background: $font-color
    box-sizing: initial
    &:hover
      &::after
        background: rgba($bkg-color , .7)
    &:after
      content: " "
      display: block
      width: 1.4em
      height: 1.4em
      border-radius: 50%
      background: rgba($bkg-color , .9)
      position: absolute
      left: 2px
      transition: .25s
  .input-switch:checked + i
    background: $hover-color
  .input-switch:checked + i:after
    left: calc( 1.4em + 2px )
  &:hover
    cursor: pointer